package ${modulePackage}.entity;

import javax.persistence.Table;
import javax.persistence.Column;
${importBaseEntity}

##@JsonSerialize(include= JsonSerialize.Inclusion.NON_NULL)
@Table(name = "${tableName}")
public class ${className} ${extendsBaseEntity}{
	${fieldList}
}
