package ${modulePackage}.${packageController};

import javax.annotation.Resource;

import org.springframework.web.bind.annotation.*;
import com.github.yt.web.controller.BaseController;
import com.github.yt.web.result.PackageResponseBody;
import ${modulePackage}.${packageEntity}.${className};
import ${modulePackage}.${packageService}.${replaceSuffixClassName}Service;

/**
 * ${codeName}控制器
 *
 */
@RestController
@RequestMapping("/${replaceSuffixLowerName}")
@PackageResponseBody
public class ${replaceSuffixClassName}Controller extends BaseController {

    @Resource
    private ${replaceSuffixClassName}Service ${replaceSuffixLowerName}Service;


//    @ApiOperation(value = "分页查询${codeName}")
//    @GetMapping(value = "/findPage")
//    public Page<${className}> findPage(${className} ${lowerName}, Query query) {
//        return ${replaceSuffixLowerName}Service.findPage(${lowerName}, query.addOrderBy("createTime desc"));
//    }

}
