package ${modulePackage}.${packagePO};

##@JsonSerialize(include= JsonSerialize.Inclusion.NON_NULL)
public enum ${enumClassName} {
    // ${columnComment}
#foreach($item in $!{enumColumnDataList})
    $item.name,
#end

}
