package ${modulePackage}.service.impl;

import com.github.yt.mybatis.service.BaseService;
import ${modulePackage}.dao.${replaceSuffixClassName}Mapper;
import ${modulePackage}.entity.${className};
import ${modulePackage}.service.${replaceSuffixClassName}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

@Service("${replaceSuffixLowerName}Service")
@Transactional
public class ${replaceSuffixClassName}ServiceImpl extends BaseService<${className}> implements ${replaceSuffixClassName}Service {

	@Autowired
    private ${replaceSuffixClassName}Mapper mapper;

}
