package ${modulePackage}.service;

import com.github.yt.mybatis.service.IBaseService;
import ${modulePackage}.dao.${replaceSuffixClassName}Mapper;
import ${modulePackage}.entity.${className};

import org.springframework.beans.factory.annotation.Autowired;

/**
 * ${codeName}服务层
 *
 */
public interface ${replaceSuffixClassName}Service extends IBaseService<${className}> {


}
